In [108]:
import numpy as np
import pandas as pd
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
os.getcwd()

'/Users/smithss'

In [5]:
df=pd.read_csv("/Users/smithss/Downloads/Fashion Dataset.csv")

In [6]:
df.head()

,Unnamed: 0,p_id,name,price,colour,brand,img,ratingCount,avg_rating,description,p_attributes
0,0,17048614.0,Khushal K Women Black Ethnic Motifs Printed Ku...,5099.0,Black,Khushal K,http://assets.myntassets.com/assets/images/170...,4522.0,4.418399,Black printed Kurta with Palazzos with dupatta...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,32..."
1,1,16524740.0,InWeave Women Orange Solid Kurta with Palazzos...,5899.0,Orange,InWeave,http://assets.myntassets.com/assets/images/165...,1081.0,4.119334,Orange solid Kurta with Palazzos with dupatta<...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,32..."
2,2,16331376.0,Anubhutee Women Navy Blue Ethnic Motifs Embroi...,4899.0,Navy Blue,Anubhutee,http://assets.myntassets.com/assets/images/163...,1752.0,4.161530,Navy blue embroidered Kurta with Trousers with...,"{'Add-Ons': 'NA', 'Body Shape ID': '333,424', ..."
3,3,14709966.0,Nayo Women Red Floral Printed Kurta With Trous...,3699.0,Red,Nayo,http://assets.myntassets.com/assets/images/147...,4113.0,4.088986,Red printed kurta with trouser and dupatta<br>...,"{'Add-Ons': 'NA', 'Body Shape ID': '333,424', ..."
4,4,11056154.0,AHIKA Women Black & Green Printed Straight Kurta,1350.0,Black,AHIKA,http://assets.myntassets.com/assets/images/110...,21274.0,3.978377,"Black and green printed straight kurta, has a ...","{'Body Shape ID': '424', 'Body or Garment Size..."

In [9]:
df.shape

(14330, 11)

In [7]:
df.isnull().sum()

Unnamed: 0         0
p_id              18
name              18
price             18
colour            21
brand             18
img               18
ratingCount     7749
avg_rating      7749
description       18
p_attributes      18
dtype: int64

# content based recommend

In [198]:
df_c=df.dropna()

In [114]:
df_c.isnull().sum()

Unnamed: 0      0
p_id            0
name            0
price           0
colour          0
brand           0
img             0
ratingCount     0
avg_rating      0
description     0
p_attributes    0
dtype: int64

In [199]:
df_c=df_c[["name","colour","brand","description","p_attributes","img"]]

In [29]:
for i in range(3):
    
    print(df_c["p_attributes"][i])
    print("  ")

{'Add-Ons': 'NA', 'Body Shape ID': '443,333,324,424', 'Body or Garment Size': 'Garment Measurements in', 'Bottom Closure': 'Slip-On', 'Bottom Fabric': 'Viscose Rayon', 'Bottom Pattern': 'Printed', 'Bottom Type': 'Palazzos', 'Character': 'NA', 'Dupatta': 'With Dupatta', 'Dupatta Border': 'Solid', 'Dupatta Fabric': 'Viscose Rayon', 'Dupatta Pattern': 'Printed', 'Main Trend': 'Indie Prints', 'Neck': 'Mandarin Collar', 'Number of Pockets': 'NA', 'Occasion': 'Festive', 'Ornamentation': 'NA', 'Pattern Coverage': 'Placement', 'Print or Pattern Type': 'Ethnic Motifs', 'Sleeve Length': 'Three-Quarter Sleeves', 'Sleeve Styling': 'Regular Sleeves', 'Slit Detail': 'NA', 'Stitch': 'Ready to Wear', 'Sustainable': 'Regular', 'Technique': 'Screen', 'Top Design Styling': 'Regular', 'Top Fabric': 'Viscose Rayon', 'Top Hemline': 'Flared', 'Top Length': 'Calf Length', 'Top Pattern': 'Printed', 'Top Shape': 'Anarkali', 'Top Type': 'Kurta', 'Waistband': 'Elasticated', 'Wash Care': 'Machine Wash', 'Weave Pattern': 'Regular', 'Weave Type': 'Machine Weave'}

{'Add-Ons': 'NA', 'Body Shape ID': '443,333,324,424', 'Body or Garment Size': 'Garment Measurements in', 'Bottom Closure': 'Zip', 'Bottom Fabric': 'Viscose Rayon', 'Bottom Pattern': 'Solid', 'Bottom Type': 'Palazzos', 'Character': 'NA', 'Dupatta': 'With Dupatta', 'Dupatta Border': 'Printed', 'Dupatta Fabric': 'Organza', 'Dupatta Pattern': 'Printed', 'Main Trend': 'NA', 'Neck': 'Square Neck', 'Number of Pockets': 'NA', 'Occasion': 'Fusion', 'Ornamentation': 'NA', 'Pattern Coverage': 'None', 'Print or Pattern Type': 'Solid', 'Sleeve Length': 'Sleeveless', 'Sleeve Styling': 'Shoulder Straps', 'Slit Detail': 'NA', 'Stitch': 'Ready to Wear', 'Sustainable': 'Regular', 'Technique': 'NA', 'Top Design Styling': 'Regular', 'Top Fabric': 'Viscose Rayon', 'Top Hemline': 'Flared', 'Top Length': 'Calf Length', 'Top Pattern': 'Solid', 'Top Shape': 'A-Line', 'Top Type': 'Kurta', 'Waistband': 'Elasticated', 'Wash Care': 'Hand Wash', 'Weave Pattern': 'Regular', 'Weave Type': 'Machine Weave'}

{'Add-Ons': 'NA', 'Body Shape ID': '333,424', 'Body or Garment Size': 'Garment Measurements in', 'Bottom Closure': 'Slip-On', 'Bottom Fabric': 'Viscose Rayon', 'Bottom Pattern': 'Printed', 'Bottom Type': 'Trousers', 'Character': 'NA', 'Dupatta': 'With Dupatta', 'Dupatta Border': 'Tassels', 'Dupatta Fabric': 'Voile', 'Dupatta Pattern': 'Embroidered', 'Main Trend': 'NA', 'Neck': 'Round Neck', 'Number of Pockets': 'NA', 'Occasion': 'Daily', 'Ornamentation': 'Thread Work', 'Pattern Coverage': 'Large', 'Print or Pattern Type': 'Ethnic Motifs', 'Sleeve Length': 'Three-Quarter Sleeves', 'Sleeve Styling': 'No Sleeves', 'Slit Detail': 'NA', 'Stitch': 'Ready to Wear', 'Style Tip': '', 'Sustainable': 'Regular', 'Technique': 'Foil', 'Top Design Styling': 'Regular', 'Top Fabric': 'Viscose Rayon', 'Top Hemline': 'Flared', 'Top Length': 'Above Knee', 'Top Pattern': 'Embroidered', 'Top Shape': 'A-Line', 'Top Type': 'Kurta', 'Waistband': 'Elasticated', 'Wash Care': 'Hand Wash', 'Weave Pattern': 'Regular', 'Weave Type': 'Machine Weave'}

In [30]:
import ast
v=ast.literal_eval(df["p_attributes"][0])
v

{'Add-Ons': 'NA',
 'Body Shape ID': '443,333,324,424',
 'Body or Garment Size': 'Garment Measurements in',
 'Bottom Closure': 'Slip-On',
 'Bottom Fabric': 'Viscose Rayon',
 'Bottom Pattern': 'Printed',
 'Bottom Type': 'Palazzos',
 'Character': 'NA',
 'Dupatta': 'With Dupatta',
 'Dupatta Border': 'Solid',
 'Dupatta Fabric': 'Viscose Rayon',
 'Dupatta Pattern': 'Printed',
 'Main Trend': 'Indie Prints',
 'Neck': 'Mandarin Collar',
 'Number of Pockets': 'NA',
 'Occasion': 'Festive',
 'Ornamentation': 'NA',
 'Pattern Coverage': 'Placement',
 'Print or Pattern Type': 'Ethnic Motifs',
 'Sleeve Length': 'Three-Quarter Sleeves',
 'Sleeve Styling': 'Regular Sleeves',
 'Slit Detail': 'NA',
 'Stitch': 'Ready to Wear',
 'Sustainable': 'Regular',
 'Technique': 'Screen',
 'Top Design Styling': 'Regular',
 'Top Fabric': 'Viscose Rayon',
 'Top Hemline': 'Flared',
 'Top Length': 'Calf Length',
 'Top Pattern': 'Printed',
 'Top Shape': 'Anarkali',
 'Top Type': 'Kurta',
 'Waistband': 'Elasticated',
 'Wash Care': 'Machine Wash',
 'Weave Pattern': 'Regular',
 'Weave Type': 'Machine Weave'}

In [71]:
def convert(ob):
    l=[]
    for i,j in ob.items():
        if i==["Number of Pockets"]:
            l.append(v[i])
    return l

In [101]:
def convertd(df):
    v=ast.literal_eval(df)


    l=[]
    for i in v.keys():
        if i in ["Number of Pockets","Stitch","Wash Care"]:
            l.append(v[i])

    return l

In [102]:
convertd(df["p_attributes"][0])

['NA', 'Ready to Wear', 'Machine Wash']

In [200]:
df_c["p_attributes"]=df_c["p_attributes"].apply(convertd)

In [118]:
df_c
df_c["brand"].head(2)
df_c["brand"].head(2)

,p_id,price,colour,brand,description,p_attributes
0,17048614.0,5099.0,Black,Khushal K,Black printed Kurta with Palazzos with dupatta...,"[NA, Ready to Wear, Machine Wash]"
1,16524740.0,5899.0,Orange,InWeave,Orange solid Kurta with Palazzos with dupatta<...,"[NA, Ready to Wear, Hand Wash]"
2,16331376.0,4899.0,Navy Blue,Anubhutee,Navy blue embroidered Kurta with Trousers with...,"[NA, Ready to Wear, Hand Wash]"
3,14709966.0,3699.0,Red,Nayo,Red printed kurta with trouser and dupatta<br>...,"[NA, Ready to Wear, Hand Wash]"
4,11056154.0,1350.0,Black,AHIKA,"Black and green printed straight kurta, has a ...","[Ready to Wear, Machine Wash]"
...,...,...,...,...,...,...
14298,14927330.0,1499.0,Beige,H&M,"<p>Sleeveless, longer-style hoodie in sweatshi...","[NA, Machine Wash]"
14305,7275903.0,1699.0,Black,Belle Fille,"Black solid sweatshirt, has a round neck, long...","[NA, Hand Wash]"
14313,16044104.0,1799.0,Black,SASSAFRAS,"Black printed sweatshirt has a round neck, lo...","[NA, Machine Wash]"
14323,16225448.0,2099.0,Olive,The Vanca,"Olive green solid sweatshirt has a hooded, 2 ...","[2, Machine Wash]"
14325,15415116.0,2299.0,Blue,Flying Machine,Blue solid front-open sweatshirt has a mock co...,"[2, Machine Wash]"

0    Khushal K
1      InWeave
Name: brand, dtype: object

0    Khushal K
1      InWeave
Name: brand, dtype: object

In [129]:
def list_conv(text):
    l=[]
    for i in text.split():
        l.append(i)
    return l


st(df_c["brand"][0])

['Khushal', 'K']

In [201]:
df_c["brand"]=df_c["brand"].apply(list_conv)
df_c["brand"]=df_c["brand"].apply(lambda x:[i.replace(" ","") for i in x])

In [202]:
df_c["colour"]=df_c["colour"].apply(list_conv)
df_c["colour"]=df_c["colour"].apply(lambda x:[i.replace(" ","") for i in x])

In [203]:
df_c["p_attributes"]=df_c["p_attributes"].apply(lambda x:[i.replace(" ","") for i in x])

In [204]:
df_c["description"]=df_c["description"].apply(list_conv)

In [213]:
df_c

,name,colour,brand,description,p_attributes,img,Tag
0,Khushal K Women Black Ethnic Motifs Printed Ku...,[Black],"[Khushal, K]","[Black, printed, Kurta, with, Palazzos, with, ...","[NA, ReadytoWear, MachineWash]",http://assets.myntassets.com/assets/images/170...,black khushal k black print kurta with palazzo...
1,InWeave Women Orange Solid Kurta with Palazzos...,[Orange],[InWeave],"[Orange, solid, Kurta, with, Palazzos, with, d...","[NA, ReadytoWear, HandWash]",http://assets.myntassets.com/assets/images/165...,orang inweav orang solid kurta with palazzo wi...
2,Anubhutee Women Navy Blue Ethnic Motifs Embroi...,"[Navy, Blue]",[Anubhutee],"[Navy, blue, embroidered, Kurta, with, Trouser...","[NA, ReadytoWear, HandWash]",http://assets.myntassets.com/assets/images/163...,navi blue anubhute navi blue embroid kurta wit...
3,Nayo Women Red Floral Printed Kurta With Trous...,[Red],[Nayo],"[Red, printed, kurta, with, trouser, and, dupa...","[NA, ReadytoWear, HandWash]",http://assets.myntassets.com/assets/images/147...,red nayo red print kurta with trouser and dupa...
4,AHIKA Women Black & Green Printed Straight Kurta,[Black],[AHIKA],"[Black, and, green, printed, straight, kurta,,...","[ReadytoWear, MachineWash]",http://assets.myntassets.com/assets/images/110...,black ahika black and green print straight kur...
...,...,...,...,...,...,...,...
14298,H&M Women Beige Solid Sleeveless Hoodie,[Beige],[H&M],"[<p>Sleeveless,, longer-style, hoodie, in, swe...","[NA, MachineWash]",http://assets.myntassets.com/assets/images/149...,"beig h&m <p>sleeveless, longer-styl hoodi in s..."
14305,Belle Fille Women Black Solid Sweatshirt,[Black],"[Belle, Fille]","[Black, solid, sweatshirt,, has, a, round, nec...","[NA, HandWash]",http://assets.myntassets.com/assets/images/727...,"black bell fill black solid sweatshirt, ha a r..."
14313,SASSAFRAS Women Black Printed Sweatshirt,[Black],[SASSAFRAS],"[Black, printed, sweatshirt, has, a, round, ne...","[NA, MachineWash]",http://assets.myntassets.com/assets/images/160...,black sassafra black print sweatshirt ha a rou...
14323,The Vanca Women Olive Green Hooded Sweatshirt,[Olive],"[The, Vanca]","[Olive, green, solid, sweatshirt, has, a, hood...","[2, MachineWash]",http://assets.myntassets.com/assets/images/162...,oliv the vanca oliv green solid sweatshirt ha ...
14325,Flying Machine Women Blue Solid Mock-Collar Fr...,[Blue],"[Flying, Machine]","[Blue, solid, front-open, sweatshirt, has, a, ...","[2, MachineWash]",http://assets.myntassets.com/assets/images/154...,blue fli machin blue solid front-open sweatshi...

In [206]:
df_c["Tag"]=df_c["colour"]+df_c["brand"]+df_c["description"]+df_c["p_attributes"]

In [208]:
import nltk
from nltk.stem.porter import PorterStemmer

ps=PorterStemmer()

In [209]:
def st(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [210]:
df_c["Tag"]=df_c["Tag"].apply(lambda x: " ".join(x))

In [211]:
df_c["Tag"]=df_c["Tag"].apply(st)

In [212]:
df_c.head()

,name,colour,brand,description,p_attributes,img,Tag
0,Khushal K Women Black Ethnic Motifs Printed Ku...,[Black],"[Khushal, K]","[Black, printed, Kurta, with, Palazzos, with, ...","[NA, ReadytoWear, MachineWash]",http://assets.myntassets.com/assets/images/170...,black khushal k black print kurta with palazzo...
1,InWeave Women Orange Solid Kurta with Palazzos...,[Orange],[InWeave],"[Orange, solid, Kurta, with, Palazzos, with, d...","[NA, ReadytoWear, HandWash]",http://assets.myntassets.com/assets/images/165...,orang inweav orang solid kurta with palazzo wi...
2,Anubhutee Women Navy Blue Ethnic Motifs Embroi...,"[Navy, Blue]",[Anubhutee],"[Navy, blue, embroidered, Kurta, with, Trouser...","[NA, ReadytoWear, HandWash]",http://assets.myntassets.com/assets/images/163...,navi blue anubhute navi blue embroid kurta wit...
3,Nayo Women Red Floral Printed Kurta With Trous...,[Red],[Nayo],"[Red, printed, kurta, with, trouser, and, dupa...","[NA, ReadytoWear, HandWash]",http://assets.myntassets.com/assets/images/147...,red nayo red print kurta with trouser and dupa...
4,AHIKA Women Black & Green Printed Straight Kurta,[Black],[AHIKA],"[Black, and, green, printed, straight, kurta,,...","[ReadytoWear, MachineWash]",http://assets.myntassets.com/assets/images/110...,black ahika black and green print straight kur...

In [214]:
df_c=df_c[["name","Tag","img"]]

# Final df

In [216]:
df_c.head(4)
df_c.to_csv("Muntra_final.csv")

,name,Tag,img
0,Khushal K Women Black Ethnic Motifs Printed Ku...,black khushal k black print kurta with palazzo...,http://assets.myntassets.com/assets/images/170...
1,InWeave Women Orange Solid Kurta with Palazzos...,orang inweav orang solid kurta with palazzo wi...,http://assets.myntassets.com/assets/images/165...
2,Anubhutee Women Navy Blue Ethnic Motifs Embroi...,navi blue anubhute navi blue embroid kurta wit...,http://assets.myntassets.com/assets/images/163...
3,Nayo Women Red Floral Printed Kurta With Trous...,red nayo red print kurta with trouser and dupa...,http://assets.myntassets.com/assets/images/147...

In [170]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=6000,stop_words="english")

In [172]:
vectors=cv.fit_transform(df_c["Tag"]).toarray()

In [173]:
from sklearn.metrics.pairwise import cosine_similarity
simulary=cosine_similarity(vectors)

In [219]:
import pickle
pickle.dump(simulary,open("simulary_myntra.pkl","wb"))

In [178]:
def simul(movie):
    index=df_c[df_c["name"]==movie].index[0]
    distance=simulary[index]
    #for 1st movie 2 movies simularities and 1st movie 3 movie simularities , 1 move 4th....
    list_v=sorted(list(enumerate(distance)),reverse=True,key=lambda x: x[1])[1:6]
    
    for i in list_v:
        c=i[0]
        print(c,df_c.iloc[c]["name"])

In [245]:
simul("Khushal K Women White Ethnic Motifs Printed Gotta Patti Kurta with Palazzos & With Dupatta")

480 Anouk Women White & Blue Floral Printed Kurta
516 HERE&NOW Women Blue & White Striped Embroidered Mirror Work A-Line Kurta
288 Anouk Women Black & White Bandhani Printed Halter Neck Kurta
648 Anouk Women Pink Pure Cotton Solid Kurta
210 Anouk Women Red & White Bandhani Printed Angrakha Gotta Patti A-Line Kurta

In [242]:
model=pickle.load(open("simulary_myntra.pkl","rb"))

In [226]:
df_c[df_c["name"]==df_c["name"][0]].index[0]

0

In [230]:
def recom(name):
    index = df_c[df_c["name"] == name].index[0]
    distance = model[index]
    # for 1st movie 2 movies simularities and 1st movie 3 movie simularities , 1 move 4th....
    list_v = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:6]
    d=[]
    for i in list_v:
        c = i[0]
        d.append(df_c.index[c])
    return d

In [231]:
recom("Khushal K Women White Ethnic Motifs Printed Gotta Patti Kurta with Palazzos & With Dupatta")

[618, 665, 360, 863, 258]

In [233]:
v=recom("Khushal K Women White Ethnic Motifs Printed Gotta Patti Kurta with Palazzos & With Dupatta")

In [235]:
lis=[]
for i in v:
    lis.append(i)

In [236]:
lis

[618, 665, 360, 863, 258]

In [237]:
df_c.index[618]

821

In [246]:
df_c["name"][618]

'Anouk Women White & Blue Floral Printed Kurta'

In [248]:
for i in (df_c[df_c["name"] == lis[0]]["img"]):
    print("f")
    break

In [270]:
print(df_c[df_c["name"]==df_c["name"][lis[0]]]["img"])

618    http://assets.myntassets.com/assets/images/161...
Name: img, dtype: object

TypeError: string indices must be integers